openapi: 3.0.1
info:
  description: Tekst
  version: 0.5.0
  title: Arbeidsgiveravgift API
  termsOfService: 'https://skatteetaten.github.io/datasamarbeid-api-dokumentasjon/faq_hvem.html'
  contact:
    name: Brukerstøtte datasamarbeid
    url: >-
      https://www.skatteetaten.no/bedrift-og-organisasjon/starte-og-drive/bestill-attester-og-tilgang-pa-data/skatteetatens-datasamarbeid/skatte--og-inntektsopplysninger/brukerstotte-datasamarbeid/
externalDocs:
  description: Dokumentasjon på Skatteetatens GitHub
  url: 'https://skatteetaten.github.io/datasamarbeid-api-dokumentasjon'
servers:
  - url: 'https://api-at.sits.no/api/arbeidsgiveravgift/v1/'
    description: Akseptansetest (AT)
  - url: 'https://api.skatteetaten.no/api/arbeidsgiveravgift/v1/'
    description: Produksjon (Prod)
paths:
  '/{rettighetspakke}/{organisasjonsnummer}':
    get:
      summary: Hent arbeidsgiveravgift for enhet
      description: Hent arbeidsgiveravgift for enhet
      operationId: hentArbeidsgiveravgiftForEnhet
      tags:
        - Hent arbeidsgiveravgift for enhet
      parameters:
        - name: rettighetspakke
          in: path
          description: >-
            Datakonsumenter plasseres i en rettighetspakke (per datasett) basert
            på en juridisk vurdering. Rettighetspakken styrer Skjermingsregler,
            Filtrering og Detaljering som benyttes når det gis innsyn i data i
            datasett.
          required: true
          schema:
            type: string
        - name: organisasjonsnummer
          in: path
          description: 'organisasjonsnummer'
          required: true
          schema:
            $ref: '#/components/schemas/Organisasjonsnummer'
        - name: Korrelasjonsid
          in: header
          description: 'Korrelasjonsid, unik identifikator for den tekniske forespørselen. Må være på UUID-format'
          required: false
          schema:
            type: string
            format: uuid
          example: '123e4567-e89b-12d3-a456-426655440000'
        - name: Authorization
          in: header
          description: 'JWT token'
          required: true
          schema:
            type: string
            format: jwt
        - name: AltinnSamtykke
          in: header
          description: 'Claims for altinnsamtykke'
          required: true
          schema:
            type: string
            format: jws
      responses:
        '200':
          description: Gyldig respons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Arbeidsgiveravgifter'
            application/xml:
              schema:
                $ref: '#/components/schemas/Arbeidsgiveravgifter'
        '400':
          description: Valideringsfeil
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feil'
            application/xml:
              schema:
                $ref: '#/components/schemas/Feil'
        '403':
          description: Bruker har ikke tilgang
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feil'
            application/xml:
              schema:
                $ref: '#/components/schemas/Feil'
        '500':
          description: Tekniske feil
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feil'
            application/xml:
              schema:
                $ref: '#/components/schemas/Feil'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feil'
            application/xml:
              schema:
                $ref: '#/components/schemas/Feil'
components:
  schemas:
    Arbeidsgiveravgifter:
      description: Rot-element for respons
      type: object
      properties:
        levert:
          $ref: '#/components/schemas/DatoKlokkeslett'
        forespurteOrganisasjon:
          $ref: '#/components/schemas/Organisasjonsnummer'
        arbeidsgiveravgifter:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/ArbeidsgiveravgiftDto'
          minItems: 0
      xml:
        namespace: 'urn:no:skatteetaten:datasamarbeid:arbeidsgiveravgift:v1'
    ArbeidsgiveravgiftDto:
      type: object
      properties:
        arbeidsgiveravgift:
          $ref: '#/components/schemas/Arbeidsgiveravgift'
    Organisasjonsnummer:
      description: 'Organisasjonsnummeret'
      type: string
      pattern: '[0-9]*'
      example: 987654231
    Organisasjonsnavn:
        description: 'navn på organisasjon'
        type: string
        maxLength: 175
        example: 'Freidige Forretninger AS'
    Arbeidsgiveravgift:
      type: object
      properties:
        termin:
          $ref: '#/components/schemas/ArbeidsgiveravgiftTermin'
        aar:
          $ref: '#/components/schemas/Aarstall'
        sumavgiftsgrunnlagBeloep:
          allOf:
            - $ref: '#/components/schemas/Beloep'
            - description: 'sum av avgiftsgrunnlagBeløp felt i ArbeidsgiveravgiftGrunnlag for 2 måneds- termin'
    Skjemamottaker:
      type: object
      properties:
        mottakersOrganisasjonsnavn:
          $ref: '#/components/schemas/Organisasjonsnavn'
        mottakersOrganisasjonsnummer:
          $ref: '#/components/schemas/Organisasjonsnummer'
    DatoKlokkeslett:
      description: >-
       en kombinasjon av typene Dato og Klokkeslett. Kodes som en tekststreng etter datoformatering spesifisert i ISO 8601 (ISO 8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times). '
      type: string
      format: datetime
      example: '2020-01-02T12:43:23'
    Beloep:
        type: integer
        description: 'en sum av penger brukt i en kontekst. Dette kan være en transaksjon, saldo o.l.'
    Aarstall:
      description: ''
      type: string
    ArbeidsgiveravgiftTermin:
      description: >-
        1 = Termin 1 = Januar-Februar
        2 = Termin 2 =  Mars-April
        3 = Termin 3 =  Mai-Juni
        4 = Termin 4 =  Juli-August
        5 = Termin 5 =  September-Oktober
        6 = Termin 6 =  November-Desember
      type: string
      enum:
        - jan-feb
        - mar-apr
        - mai-jun
        - jul-aug
        - sep-okt
        - nov-des
    Feil:
      description: >-
        Feilstruktur for alle feilmeldinger.
        [Feilkoder](https://skatteetaten.github.io/datasamarbeid-api-dokumentasjon/reference_spesifisertsummertskattegrunnlag
        "Feilkoder")
      type: object
      properties:
        kode:
          type: string
          description: 'Feilkode, for maskinell håndtering'
          example: 'ARBAVG-0xx'
        melding:
          type: string
          description: Beskrivelse av feilen som har oppstått
          example: Fant ikke gitt personidentifikator
        korrelasjonsid:
          type: string
          description: Korrelasjonsid
          example: 123e4567-e89b-12d3-a456-426655440000
      xml:
        name: feil
        namespace: "urn:no:skatteetaten:datasamarbeid:feil:v1"