{
  "openapi": "3.0.1",
  "info": {
    "description": "Tekst",
    "version": "1.0.2",
    "title": "Inntektsmottaker API",
    "termsOfService": "https://skatteetaten.github.io/datasamarbeid-api-dokumentasjon/faq_hvem.html",
    "contact": {
      "name": "Brukerstøtte datasamarbeid",
      "url": "https://www.skatteetaten.no/bedrift-og-organisasjon/starte-og-drive/bestill-attester-og-tilgang-pa-data/skatteetatens-datasamarbeid/skatte--og-inntektsopplysninger/brukerstotte-datasamarbeid/"
    }
  },
  "externalDocs": {
    "description": "Dokumentasjon på Skatteetatens GitHub",
    "url": "https://skatteetaten.github.io/datasamarbeid-api-dokumentasjon"
  },
  "servers": [
    {
      "url": "https://api-at.sits.no/api/innrapportert/opplysningspliktig/v1",
      "description": "Akseptansetest (AT)"
    },
    {
      "url": "https://api.skatteetaten.no/api/innrapportert/opplysningspliktig/v1",
      "description": "Produksjon (Prod)"
    }
  ],
  "paths": {
    "/{rettighetspakke}/{opplysningspliktig}/inntektsmottakere": {
      "get": {
        "summary": "Lister opp inntektsmottakere for en angitt opplysningspliktig",
        "description": "Lister opp inntektsmottakere for en angitt opplysningspliktig",
        "operationId": "listInntektsmottakere",
        "tags": [
          "Liste med inntektsmottakere for opplysningspliktig"
        ],
        "parameters": [
          {
            "name": "rettighetspakke",
            "in": "path",
            "description": "Datakonsumenter plasseres i en rettighetspakke (per datasett) basert på en juridisk vurdering. Rettighetspakken styrer Skjermingsregler, Filtrering og Detaljering som benyttes når det gis innsyn i data i datasett.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fraOgMed",
            "in": "query",
            "description": "fraOgMed",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tilOgMed",
            "in": "query",
            "description": "fraOgMed",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sidenummer",
            "in": "query",
            "description": "sidenummer",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "opplysningspliktig",
            "in": "path",
            "description": "opplysningspliktig",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Korrelasjonsid",
            "in": "header",
            "description": "Korrelasjonsid, unik identifikator for den tekniske forespørselen",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gyldig respons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://skatteetaten.github.io/datasamarbeid-api-dokumentasjon/download/open-api/Inntektsmottakere.json#/definitions/inntektsmottakere"
                }
              }
            }
          },
          "400": {
            "description": "Valideringsfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          },
          "403": {
            "description": "Bruker har ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          },
          "500": {
            "description": "Tekniske feil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          }
        }
      }
    },
    "/{rettighetspakke}/{inntektsmottaker}/inntekter": {
      "get": {
        "summary": "Lister opp inntektsmottaker, fradrag og forskuddstrekk for en angitt inntektsmottaker",
        "description": "https://skatteetaten.github.io/datasamarbeid-api-dokumentasjon/reference_inntektsmottaker.html",
        "operationId": "listInntektsmottaker",
        "tags": [
          "Inntekt m.m. for inntektsmottaker"
        ],
        "parameters": [
          {
            "name": "rettighetspakke",
            "in": "path",
            "description": "Datakonsumenter plasseres i en rettighetspakke (per datasett) basert på en juridisk vurdering. Rettighetspakken styrer Skjermingsregler, Filtrering og Detaljering som benyttes når det gis innsyn i data i datasett.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fraOgMed",
            "in": "query",
            "description": "fraOgMed",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tilOgMed",
            "in": "query",
            "description": "tilOgMed",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inntektsmottaker",
            "in": "path",
            "description": "Norsk personidentifikator for inntektsmottaker",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "opplysningspliktig",
            "in": "path",
            "description": "Norsk personidentifikator for opplysningspliktig",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Korrelasjonsid",
            "in": "header",
            "description": "Korrelasjonsid, unik identifikator for den tekniske forespørselen",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gyldig respons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://skatteetaten.github.io/datasamarbeid-api-dokumentasjon/download/open-api/Inntektsmottaker.json"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "https://skatteetaten.github.io/datasamarbeid-api-dokumentasjon/download/inntektsmottaker.xsd"

                }
              }
            }
          },
          "400": {
            "description": "Valideringsfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          },
          "403": {
            "description": "Bruker har ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          },
          "500": {
            "description": "Tekniske feil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Feil": {
        "description": "Feilstruktur for alle feilmeldinger. [Feilkoder](https://skatteetaten.github.io/datasamarbeid-api-dokumentasjon/reference_spesifisertsummertskattegrunnlag \"Feilkoder\")",
        "type": "object",
        "properties": {
          "kode": {
            "type": "string",
            "description": "Feilkode, for maskinell håndtering",
            "example": "INNTM-0xx"
          },
          "melding": {
            "type": "string",
            "description": "Beskrivelse av feilen som har oppstått",
            "example": "Fant ikke gitt personidentifikator"
          },
          "korrelasjonsid": {
            "type": "string",
            "description": "Korrelasjonsid",
            "example": "123e4567-e89b-12d3-a456-426655440000"
          }
        },
        "xml": {
          "name": "feil"
        }
      }
    }
  }
}
