openapi: 3.0.1
info:
  description: Oppdrag utenlandske virksomheter
  version: 0.5.0
  title: Oppdrag Utenlandske Virksomheter API
  termsOfService: 'https://skatteetaten.github.io/datasamarbeid-api-dokumentasjon/faq_hvem.html'
  contact:
    name: Brukerstøtte datasamarbeid
    url: >-
      https://www.skatteetaten.no/bedrift-og-organisasjon/starte-og-drive/bestill-attester-og-tilgang-pa-data/skatteetatens-datasamarbeid/skatte--og-inntektsopplysninger/brukerstotte-datasamarbeid/
externalDocs:
  description: Dokumentasjon på Skatteetatens GitHub
  url: 'https://skatteetaten.github.io/datasamarbeid-api-dokumentasjon'
servers:
  - url: 'https://api-at.sits.no/api/oppdrag/v1/'
    description: Akseptansetest (AT)
  - url: 'https://api.skatteetaten.no/api/oppdrag/v1/'
    description: Produksjon (Prod)
paths:
  '/{rettighetspakke}/utenlandskevirksomheter/{organisasjonsnummer}/oppdrag/antall':
    get:
      summary: Hent oppdrag for enhet
      description: Hent oppdrag for enhet
      operationId: hentOppdragForEnhet
      tags:
        - Hent oppdrag for enhet
      parameters:
        - name: rettighetspakke
          in: path
          description: >-
            Datakonsumenter plasseres i en rettighetspakke (per datasett) basert
            på en juridisk vurdering. Rettighetspakken styrer Skjermingsregler,
            Filtrering og Detaljering som benyttes når det gis innsyn i data i
            datasett.
          required: true
          schema:
            type: string
        - name: organisasjonsnummer
          in: path
          description: 'organisasjonsnummer'
          required: true
          schema:
            $ref: '#/components/schemas/Organisasjonsnummer'
        - name: Korrelasjonsid
          in: header
          description: 'Korrelasjonsid, unik identifikator for den tekniske forespørselen. Må være på UUID-format'
          required: false
          schema:
            type: string
            format: uuid
          example: '123e4567-e89b-12d3-a456-426655440000'
        - name: Authorization
          in: header
          description: 'JWT token'
          required: true
          schema:
            type: string
            format: jwt
        - name: AltinnSamtykke
          in: header
          description: 'Claims for altinnsamtykke'
          required: true
          schema:
            type: string
            format: jws
      responses:
        '200':
          description: Gyldig respons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OppdragDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/OppdragDto'
        '400':
          description: Valideringsfeil
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feil'
            application/xml:
              schema:
                $ref: '#/components/schemas/Feil'
        '403':
          description: Bruker har ikke tilgang
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feil'
            application/xml:
              schema:
                $ref: '#/components/schemas/Feil'
        '500':
          description: Tekniske feil
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feil'
            application/xml:
              schema:
                $ref: '#/components/schemas/Feil'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feil'
            application/xml:
              schema:
                $ref: '#/components/schemas/Feil'
components:
  schemas:
    OppdragDto:
      type: object
      properties:
        forespurteOrganisasjon:
          $ref: '#/components/schemas/Organisasjonsnummer'
        oppdrag:
          $ref: '#/components/schemas/Oppdrag'
        levert:
          $ref: '#/components/schemas/DatoKlokkeslett'
      xml:
        namespace: 'urn:no:skatteetaten:datasamarbeid:oppdragutenlandskevirksomheter:v1'
    Organisasjonsnummer:
      description: 'Organisasjonsnummeret'
      type: string
      pattern: '[0-9]*'
      example: 987654231
    Organisasjonsnavn:
      description: 'Organisasjonens navn'
      type: string
      example: 'Freidige Forretninger AS'
    Oppdrag:
      type: object
      properties:
        antallAktiveOppdragSomArbeidsgiver:
          $ref: '#/components/schemas/Heltall'
        antallAktiveArbeidstakere:
          $ref: '#/components/schemas/Heltall'
        antallRegistrerteOppdragSomOppdragsgiver:
           $ref: '#/components/schemas/Heltall'
    DatoKlokkeslett:
      description: ''
      type: string
      format: datetime
      example: '2020-01-02T12:43:23'
    Heltall:
      description: ''
      type: number
    Feil:
      description: >-
        Feilstruktur for alle feilmeldinger.
        [Feilkoder](https://skatteetaten.github.io/datasamarbeid-api-dokumentasjon/reference_oppdragutenlandskevirksomheter
        "Feilkoder")
      type: object
      properties:
        kode:
          type: string
          description: 'Feilkode, for maskinell håndtering'
          example: OPPDRAG-0xx
        melding:
          type: string
          description: Beskrivelse av feilen som har oppstått
          example: Fant ikke gitt personidentifikator
        korrelasjonsid:
          type: string
          description: Korrelasjonsid
          example: 123e4567-e89b-12d3-a456-426655440000
      xml:
        name: feil
        namespace: "urn:no:skatteetaten:datasamarbeid:feil:v1"