{
  "openapi": "3.0.1",
  "info": {
    "description": "Tekst",
    "version": "0.8.8",
    "title": "Tjenestepensjonavtale API",
    "termsOfService": "https://skatteetaten.github.io/datasamarbeid-api-dokumentasjon/faq_hvem.html",
    "contact": {
      "name": "Brukerst�tte datasamarbeid",
      "url": "https://www.skatteetaten.no/bedrift-og-organisasjon/starte-og-drive/bestill-attester-og-tilgang-pa-data/skatteetatens-datasamarbeid/skatte--og-inntektsopplysninger/brukerstotte-datasamarbeid/"
    }
  },
  "externalDocs": {
    "description": "Dokumentasjon p� Skatteetatens GitHub",
    "url": "https://skatteetaten.github.io/datasamarbeid-api-dokumentasjon"
  },
  "servers": [
    {
      "url": "https://api-at.sits.no",
      "description": "Akseptansetest (AT)"
    },
    {
      "url": "https://api.skatteetaten.no",
      "description": "Produksjon (Prod)"
    }
  ],
  "paths": {
    "/tjenestepensjonsavtale/v1/{rettighetspakke}/avtaleforhold/gyldighet": {
      "get": {
        "summary": "Henter gyldighet for avtaleforholdet",
        "description": "Henter gyldighet for avtaleforholdet",
        "operationId": "HentGyldighetForAvtaleforhold",
        "tags": ["Hent gyldighet for avtaleforhold"],
        "parameters": [
          {
            "name": "pensjonsinnretning",
            "in": "query",
            "description": "PensjonsinnretningId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rettighetspakke",
            "in": "path",
            "description": "Datakonsumenter plasseres i en rettighetspakke (per datasett) basert p� en juridisk vurdering. Rettighetspakken styrer Skjermingsregler, Filtrering og Detaljering som benyttes n�r det gis innsyn i data i datasett.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fraOgMed",
            "in": "query",
            "description": "fraOgMed",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tilOgMed",
            "in": "query",
            "description": "fraOgMed",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "opplysningspliktig",
            "in": "query",
            "description": "opplysningspliktig",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Korrelasjonsid",
            "in": "header",
            "description": "Korrelasjonsid, unik identifikator for den tekniske foresp�rselen",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gyldig respons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://skatteetaten.github.io/datasamarbeid-api-dokumentasjon/download/open-api/TjenestepensjonsavtaleAvtaleforholdGyldighetV1.json#/definitions/avtaleforholdGyldighet"
                }
              }
            }
          },
          "400": {
            "description": "Valideringsfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          },
          "403": {
            "description": "Bruker har ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          },
          "500": {
            "description": "Tekniske feil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          }
        }
      }
    },
    "/tjenestepensjonsavtale/v1/{rettighetspakke}/avtaleforhold": {
      "post": {
        "summary": "Lagrer avtaleforholdet",
        "description": "Lagrer for avtaleforholdet",
        "operationId": "LagreAvtaleforhold",
        "tags": ["Lagre avtaleforhold for pensjonsinnretningen"],
        "parameters": [
          {
            "name": "rettighetspakke",
            "in": "path",
            "description": "Datakonsumenter plasseres i en rettighetspakke (per datasett) basert p� en juridisk vurdering. Rettighetspakken styrer Skjermingsregler, Filtrering og Detaljering som benyttes n�r det gis innsyn i data i datasett.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Korrelasjonsid",
            "in": "header",
            "description": "Korrelasjonsid, unik identifikator for den tekniske foresp�rselen",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "https://skatteetaten.github.io/datasamarbeid-api-dokumentasjon/download/open-api/TjenestepensjonsavtaleAvtaleforholdV1.json#/definitions/avtaleforhold"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Gyldig respons"
          },
          "400": {
            "description": "Valideringsfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          },
          "403": {
            "description": "Bruker har ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          },
          "500": {
            "description": "Tekniske feil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Feil": {
        "description": "Feilstruktur for alle feilmeldinger.",
        "type": "object",
        "properties": {
          "kode": {
            "type": "string",
            "description": "Feilkode, for maskinell h�ndtering",
            "example": "RESTA-0xx"
          },
          "melding": {
            "type": "string",
            "description": "Beskrivelse av feilen som har oppst�tt",
            "example": "Fant ikke gitt opplysningspliktig"
          },
          "korrelasjonsid": {
            "type": "string",
            "description": "Korrelasjonsid",
            "example": "123e4567-e89b-12d3-a456-426655440000"
          }
        },
        "xml": {
          "name": "feil"
        }
      }
    }
  }
}
