.navigation {
  height: 12rem !important;
  display: block !important;
  box-shadow: none !important;
  padding: 0 !important;

  &::after {
    display: block;
    content: "";
    height: 20px;
    width: 100%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("/img/separatorSKE.svg");
  }
}

.bannerImgContainer {
  display: flex;
  align-items: center;
}

.bannerImg {
  height: 75px;

  img {
    height: 100%;
  }
}

.bannerContent {
  display: flex;
  flex-direction: row;
  max-width: 1100px;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;

  .bannerHeader {
    padding-left: 32px;
    flex-grow: 3;
    text-align: left;
  }
}

.nav {
  > * {
    margin-right: 2.5rem;
  }

  font-size: 1rem;

  a {
    text-decoration: none;
    color: unset;
    transition: border-bottom 0.2s;
  }

  a:hover {
    padding-bottom: 3px;
    border-bottom: 4px solid #6f2c3f;
  }
}

.active-nav {
  padding-bottom: 3px;
  border-bottom: 4px solid #6f2c3f;
}
